body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  /*.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
  }*/
  .rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body {
    background-image: url(https://maikivs23.ikt.khk.ee/kusitlus/Rainbow_Diploma.png);
    background-color: #cccccc;
    background-image: 0.5;
    opacity: 0.9;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
img {
  height: 250px;
  width: 400px;
}